name: Docker Build & Push
on:
  push:
    branches: [ main ]
    tags: [ '*' ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - run: |
          IMAGE=${{ secrets.DOCKER_USERNAME }}/docker-app
          TAG=${{ github.ref_name }}
          docker build -t $IMAGE:$TAG .
          docker push $IMAGE:$TAG
